
<ion-header>

  <ion-navbar>
    <ion-title>Car Shared</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="carShared">

    <ion-row margin-top>

      <ion-slides no-padding lazyLoading *ngIf="carShared.pictures.length > 0">
        <ion-slide *ngFor="let picture of carShared.pictures">
          <img src="{{picture}}" #myImage (click)="presentImage(myImage)" />
        </ion-slide>
      </ion-slides>

    </ion-row>

    <ion-row>
      <h2>{{carShared.model}}  {{carShared.make}}  {{carShared.version}}</h2>
    </ion-row>

    <ion-row>
      <h3>{{carShared.price | currency }}</h3>
    </ion-row>

    <ion-item>
      <ion-avatar item-start>
        <img src="{{carShared._user.picture}}">
      </ion-avatar>
      <h2>{{carShared.ownerName}}</h2>
      <p>{{carShared.contactPhone}}</p>
    </ion-item>

  </div>


</ion-content>
