page-car-details {

  .scroll-content{
    background-color: color($colors, primary);
  }

  h2 {
    color: color($colors, text);
  }
  h4 {
    color: color($colors, text);
  }

  .big-photo{
    height: 220px;
  }
}
