page-home {

  ion-content{
    background-color: color($colors, primary) !important;
  }

  h1{
    font-size: 40px;
    color: color($colors, light-primary);
  }

  .circle-button{
    padding-top: 30px; 
    margin: 0 auto;
    height: 180px;
    width: 180px;
  }

	.button{
		background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
		background-image: linear-gradient(top, #f4f1ee, #fff);
		border-radius: 50%;
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
		float:left;
		height: 180px;
		position: relative;
		width: 180px;
		-webkit-transition: all .1s linear;
		transition: all .1s linear;
	}

	.button:after{
		color:#e9e6e4;
		display: block;
		font-size: 90px;
		text-decoration: none;
		text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
		position: absolute;
	}

  .car-icon{
    left: 53px;
		top: 25px;
    font-size: 90px;
  }

  .car-icon {
    position: absolute;
    top: 50px;
    left: 58px;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
}


	.heart:after{
		left: 53px;
		top: 25px;
	}

	.button:hover{
		background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
		background-image: linear-gradient(top, #fff, #f4f1ee);
		color:#0088cc;
	}

	.heart:hover:after{
		color:#f94e66;
		text-shadow:0px 0px 6px #f94e66;
	}

  .button:active{
		background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
		background-image: linear-gradient(top, #efedec, #f7f4f4);
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
	}

	.button:active:after{
		color:#dbd2d2;
		text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
	}

}
