<div>

  <ion-list *ngIf="options" no-lines>

    <div class="header-list" padding-top padding-bottom text-center *ngIf="optionSelected" (click)="unsetOption()">
      <h2 no-margin>{{optionSelected}}</h2>
    </div>

    <div class="header-list" padding-top padding-bottom text-center *ngIf="!optionSelected">
      <h2 no-margin (click)="displayList = !displayList">{{optionText}}</h2>
    </div>

    <div *ngIf="displayList && options" [@listAnimation]="options.length">
      <ion-item class="item-option" (click)="setOption(option)" *ngFor="let option of options">{{option}}</ion-item>
    </div>

  </ion-list>
</div>
